<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>8800 help</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>infoservice</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Доступ к аудио для выбора звонка</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Доступ к календарю для добавления напоминаний</string>
	<key>NSCameraUsageDescription</key>
	<string>Доступ к камере для отправки видеофайлов через чат</string>
	<key>NSContactsUsageDescription</key>
	<string>Доступ к контактам для общения в чате. Ваш список контактов в приложении будет брать имена из вашего списка контактов на телефоне</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Доступ к геопозиции для отправки в чате</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Доступ к геопозиции для отправки в чате</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Доступ к микрофону для звонков, которые вы будете совершать через приложение, либо принимать через приложение. Также для чата необходим микрофон, чтобы записывать аудио-сообщения</string>
	<key>NSMotionUsageDescription</key>
	<string>Доступ к акселерометру для смены режима работы</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Доступ к фото для отправки файлов через чат</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Доступ к синтезу речи для диктовки сообщения</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Доступ к bluetooth для использования гарнитуры</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Доступ к bluetooth для использования гарнитур</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
